// ***********************************
// BASE
// ***********************************

html {
	margin: 0;
	padding: 0;
	font-size: $font-size-main;
}

*, *:before, *:after {
	// -moz-box-sizing: border-box;
	// -webkit-box-sizing: border-box;
	box-sizing: border-box; 
}

body {
	margin: 0;
	padding: 0;
	background: $col-black;
	color: $col-body-txt;
	font-family: $font-sans;
	font-size: $font-size-mobile;
	line-height: $line-height-mobile;
	font-weight: $font-weight;
	-webkit-tap-highlight-color: rgba(0,0,0,0);

	@include breakpoint($mobile-width){
		font-size: $font-size;
		line-height: $line-height;
	}

	overflow-x: hidden;
	// overflow-y: scroll;
	// -webkit-overflow-scrolling: none;
	
	&.lock-scroll {
		overflow: hidden;
	}
}

#content {
	background: $col-body;
}

// ***********************************
// DEFAULTS
// ***********************************

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.2em;
	margin: 0;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.8em;
}

h5 {
	font-size: 1.4em;
}

h6 {
	font-size: .6em;
}

a, a:visited, a:active {
	font-family: $font-sans;
	font-weight: 700;
	letter-spacing: .5pt;
	text-decoration: none;
	border: none;
	outline: none;
}

ul li {
	list-style: inside;
}

span {
	white-space: nowrap;
}

span.sm-txt {
	font-size: .7em;
}

%no-style-ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;

	li {
		list-style: none;
	}
}

.fa {
	font-family: FontAwesome !important;
}

.add-paddingTop {
	padding-top: 50px !important;

	@include breakpoint($tablet-wide-width) {
		padding-top: 40px !important;
	}
}

.add-paddingBottom {
	padding-bottom: 50px !important;

	@include breakpoint($tablet-wide-width) {
		padding-bottom: 40px !important;
	}
}

.noWrap {
	white-space: nowrap;
}

.clear {
	clear: both;
}

.show-mobileOnly {
	display: block !important;
	@include breakpoint($mobile-width) {
		display: none !important;
	}
}

.show-tablet {
	display: none !important;
	@include breakpoint($tablet-width) {
		display: block !important;
	}
}

.show-desktop {
	display: none !important;
	@include breakpoint($laptop-width) {
		display: block !important;
	}
}
