// ***********************************
// MIXINS
// ***********************************

@mixin trans($time:.5s, $prop:all, $ease:ease-in-out, $delay:0s) {
	// -webkit-transition: $prop $time $ease $delay;
	// -moz-transition: $prop $time $ease $delay;
	// -ms-transition: $prop $time $ease $delay;
	// -o-transition: $prop $time $ease $delay;
	transition: $prop $time $ease $delay;
}


/*
$width:auto;
@mixin clearfix($width) {

   @if $width == 'auto' {

    // if width is not passed, or empty do this

   } @else {
        display: inline-block;
        width: $width;
   }
}
*/


@mixin stylize-header($theme, $color) {
  $primary: $color;
  $secondary: darken($color, 20%);

  body.#{$theme} #header {
    .sub-nav {
      background: $secondary;

      a.sub-nav-btn {
        color: lighten( $primary, 10% );//20% );

        &:active {
          color: $col-black;
        }
      }
    }
  }
}


@mixin stylize-hero($theme, $color) {
  $primary: $color;
  $secondary: darken($color, 20%);

  body.#{$theme} #content {
    .hero {
      background: $primary;

      a {
        &:active {
          color: $secondary;
        }
      }

      .wrapper {
        .hero-content a:active {
          color: $col-black;
        }

        .hero-content a.black:active {
          color: $col-white;
        }

        a.util-box-btn {
          background: $secondary;
          .sprite-download {
            background-position: 0 -440px;
          }
          .sprite-link {
            background-position: 0 -500px;
          }
          .sprite-link-ext {
            background-position: 0 -470px;
          } 

          &:active {
            background: darken($secondary, 15%);
            color: $col-white;
            border-color: $col-white;
          }
        }
      }

      .sub-nav {
        background: $secondary;

        a.sub-nav-btn {
          color: lighten( $primary, 10% );//20% );

          &:active {
            color: $col-black;
          }
        }
      }
    }
  }

  .noTouch body.#{$theme} #content {
    .hero {
      .wrapper {
        .hero-content a {
          &:hover {
            // color: $primary;
            color: $col-black;
          }
          &:active {
            opacity: .5;
          }
        }

        .hero-content a.black {
          &:hover {
            color: $col-white;
          }
        }

        a.util-box-btn {
          &:hover {
            color: $secondary;
            border-color: $secondary;
          }

          &:active {
            color: $col-white;
            border-color: $col-white;
            background: darken($secondary, 15%);

            .sprite-download {
              background-position: 0 -440px;
            }
            .sprite-link {
              background-position: 0 -500px;
            }
            .sprite-link-ext {
              background-position: 0 -470px;
            } 
          }
        }
      }
    }
  } 
}


@mixin stylize-contentBody($theme, $color) {
  $primary: $color;
  $secondary: darken($color, 20%);

  body.#{$theme} #content {
    .content-body {
      a.text-btn, a.text-btn:visited {
        color: $primary;
      }

      a.black, a.black:visited {
        color: $col-black;
      }

      h3 {
        a, a:hover, a:visited {
          color: $primary;
        }
        a:active {
          color: $col-black;
        }

        border-bottom: 4px solid $primary;
      }

      .section.media {
        background: $primary;

        a:hover {
          color: $secondary;
        }

        a:active {
          color: $col-black;
        }

        h3 {
          a, a:hover, a:visited {
            color: $col-white;
          }
          a:active {
            color: $secondary;
          }
        }
      }
    }
  }

  .noTouch body.#{$theme} #content {
    .content-body {
      a {
        &:hover {
          color: $col-black;
        }
      }

      a.black {
        &:hover {
          color: $primary;
        }
      }

      .media {
        a {
          &:hover {
            color: $col-black;
          }
        }
      }
    }
  }
}


@mixin stylize-posting($theme, $color) {
  $primary: $color;
  $secondary: darken($color, 20%);

  body.#{$theme} #content {
    .posting {
      a.title {
        color: $primary;

        &:visited {
          color: $primary;
        }

        &:active {
          color: $col-black;
        }
      }

      .bottom-nav {
        border-top: 4px solid $primary;
        color: $primary;
      }
    }
  }

  .noTouch body.#{$theme} #content {
    .posting {
      a.title {
        &:hover {
          color: $secondary;
        }

        &:active {
          color: $col-black;
        }
      }
    }
  }
}