// ***********************************
// MIXINS
// ***********************************

@mixin trans($time:.5s, $prop:all, $ease:ease-in-out, $delay:0s) {
	// -webkit-transition: $prop $time $ease $delay;
	// -moz-transition: $prop $time $ease $delay;
	// -ms-transition: $prop $time $ease $delay;
	// -o-transition: $prop $time $ease $delay;
	transition: $prop $time $ease $delay;
}


/*
$width:auto;
@mixin clearfix($width) {

   @if $width == 'auto' {

    // if width is not passed, or empty do this

   } @else {
        display: inline-block;
        width: $width;
   }
}
*/


@mixin stylize-header($theme, $color) {
  $primary: $color;
  $secondary: darken($color, 20%);

  body.#{$theme} #header {
    .sub-nav {
      background: $secondary;

      a.sub-nav-btn {
        color: lighten( $primary, 10% );//20% );

        &:active {
          color: $col-black;
        }
      }
    }
  }
}


@mixin stylize-footer($theme, $color) {
  $primary: $color;
  $secondary: darken($color, 20%);

  body.#{$theme} #modal-layer #container {
    ul {
      li {
        a {
          background: $col-black;

          &:active {
            background: $primary;

            img {
              opacity: .25;
            }
          }
        }
      }
    }
  }

  .noTouch body.#{$theme} #modal-layer #container {
    ul {
      li {
        a {
          &:hover {
            background: $col-black;

            img {
              opacity: .25;
            }
          }

          &:active {
            background: $primary;

            img {
              opacity: .25;
            }
          }
        }
      }
    }
  }
}


@mixin stylize-hero($theme, $color) {
  $primary: $color;
  $secondary: darken($color, 20%);

  body.#{$theme} #content {
    .hero {
      background: $primary;

      .mobile-fader {
        background: $primary;
      }

      a {
        &:active {
          color: $secondary;
        }
      }

      .wrapper {
        .hero-content-img img {
          border: 1px solid $secondary;
        }

        .hero-content a:active {
          color: $col-black;
        }

        .hero-content a.black:active {
          color: $col-white;
        }

        a.util-box-btn {
          background: $secondary;
          .sprite-download {
            background-position: 0 -440px;
          }
          .sprite-link {
            background-position: 0 -500px;
          }
          .sprite-link-ext {
            background-position: 0 -470px;
          } 

          &:active {
            background: darken($secondary, 15%);
            color: $col-white;
            border-color: $col-white;
          }
        }
      }

      .sub-nav {
        background: $secondary;

        a.sub-nav-btn {
          color: lighten( $primary, 10% );//20% );

          &:active {
            color: $col-black;
          }
        }
      }
    }

    .group-hero {
      .title {
        background: $primary;
      }
    }
  }

  .noTouch body.#{$theme} #content {
    .hero {
      .wrapper {
        .hero-content a {
          &:hover {
            color: $col-black;
          }
          &:active {
            opacity: .5;
          }
        }

        .hero-content a.black {
          &:hover {
            color: $col-white;
          }
        }

        a.util-box-btn {
          &:hover {
            color: $secondary;
            border-color: $secondary;
          }

          &:active {
            color: $col-white;
            border-color: $col-white;
            background: darken($secondary, 15%);
            opacity: 1;

            .sprite-download {
              background-position: 0 -440px;
            }
            .sprite-link {
              background-position: 0 -500px;
            }
            .sprite-link-ext {
              background-position: 0 -470px;
            } 
          }
        }
      }
    }
  } 
}


@mixin stylize-contentBody($theme, $color) {
  $primary: $color;
  $secondary: darken($color, 20%);

  body.#{$theme} #content {
    .content-body {
      a, a:visited {
        color: $primary;
      }

      a:active {
        color: $col-black;
      }

      a.black, a.black:visited {
        color: $col-black;
      }

      a.black:active {
        color: $primary;
      }

      h3 {
        font-weight: 700;
        color: $primary;

        a, a:hover, a:visited {
          color: $primary;
        }

        a:active {
          color: $col-black;
          opacity: 1;
        }

        border-bottom: 4px solid $primary;
      }

      .main-body {
        .thumbnail {
          background: $col-black;
        }

        a .thumbnail, a:visited .thumbnail {
          opacity: 1;
        }

        a:active .thumbnail {
          background: $primary;

          img {
            opacity: .25;
          }
        }
      }

      .section.media {
        background: $primary;

        h3 {
          a, a:hover, a:visited {
            color: $col-white;
          }
          a:active {
            color: $col-black;
          }
        }

        .grid {
          a {
            &:active {
              .thumbnail {
                background: $col-black;
              } 
            }
          }
        }

        .side-body.gallery {
          .txt {
            .date, p {
              color: $secondary;
            }

            p span.divider {
              border-left: 1px solid $secondary;
            }
          }

          a, a:visited {
            .txt .title {
              color: $col-white;
            }
          }

          a:active {
            .thumbnail {
              background: $col-black;

              img {
                opacity: .25;
              }
            }

            .txt .title {
              color: $col-black !important;
            }
          }
        }
      }
    }
  }

  body.#{$theme}.sub-page #content {
    .content-body {
      .section {
        .author {
          color: $primary;
        }
      }
    }
  }

  .noTouch body.#{$theme} #content {
    .content-body {
      a {
        &:hover {
          color: $col-black;
        }
      }

      a.black {
        &:hover {
          color: $primary;
        }
      }

      h3 {
        a, a:hover, a:visited {
          color: $primary;
        }

        a:active {
          color: $col-black;
          opacity: 1;
        }
      }

      .main-body {
        a:hover .thumbnail img {
          opacity: .25;
        }
      }

      .media {
        a {
          &:hover {
            color: $col-black;
          }
        }

        .side-body.gallery {
          a:hover {
            .thumbnail img {
              opacity: .35;
            }

            .txt .title {
              color: $col-black;
            }
          }
        }
      }
    }
  }
}


@mixin stylize-posting($theme, $color) {
  $primary: $color;
  $secondary: darken($color, 20%);

  body.#{$theme} #content .content-body {
    .posting {
      a.title {
        color: $primary;

        &:visited {
          color: $primary;
        }

        &:active {
          color: $col-black;
          opacity: 1;
        }
      }

      .bottom-nav {
        border-top: 4px solid $primary;
        color: $primary;
      }

      &.gallery {
        a {
          .thumbnail {
            background: $col-black;
          }

          &:active {
            .thumbnail {
              background: $secondary;
            }
          }
        }
      }
    }

    .media .wrapper .posting {
      ul {
        li {
          // border-bottom: 1px solid darken($primary, 10%);
          border-bottom: 1px solid lighten($primary, 10%);
        }
      }

      .txt {
        p {
          color: $secondary;
        }

        a.title, a.title:visited {
          color: $col-white;
        }

        a.title:active {
          color: $col-black !important;
        }

        .date {
          color: $secondary;
        }
      }

      .bottom-nav {
        border-top: 4px solid $secondary;
            
        a.text-btn, a.text-btn:visited {
          padding: 0;
          color: $secondary;
        }

        a.text-btn:active {
          color: $col-black;
        }
      }
    }
  }

  .noTouch body.#{$theme} #content .content-body {
    .posting {
      a.title {
        &:hover {
          color: $secondary;
        }

        &:active {
          color: $col-black;
        }
      }
    }

    .media .wrapper .posting {
      .txt {
        a.title:hover {
          color: $secondary;
        }
      }

      .bottom-nav { 
        a.text-btn:hover {
          color: $col-white;
        }
      }
    }
  }
}


@mixin stylize-aside($theme, $color) {
  $primary: $color;
  $secondary: darken($color, 20%);

  body.#{$theme} #content .side-body {
    .boxed {
      &.calendar {
        tr.week td a, tr.week td a:visited {
          color: $col-white;
          background: $primary;
        }

        tr.week td a:hover {
          background: $col-black;
        }
      }

      &.form {
        input, textarea {
          color: $secondary;// $primary;
        }
      }

      &.white-bg {
        background: $col-white;
      }

      &.grey-bg {
        background: $col-grey-l;
      }

      &.color-bg {
        background: $primary;
      }
    }

    .bottom-btn {
      &.color {
        color: $col-white;
        background: $primary;
      }
    }

    .color-bar {
      background: $primary;
    }

    .contact-name {
      color: $primary;
    }

    .sidebar-gallery a {
        .thumbnail {
          background: $col-black;
          opacity: 1;
        }

        &:visited .thumbnail {
          opacity: 1;
        }

        &:active .thumbnail {
          background: $primary;

          img {
            opacity: .25;
          }
        }
      }
  }

  .noTouch body.#{$theme} #content .side-body {
    .bottom-btn {
      &.color {
        color: $col-white;
        
        &:active {
          color: $col-white;
          background: $secondary;
          opacity: 1;
        }
      }
    }

    .sidebar-gallery a:hover .thumbnail img {
        opacity: .25;
    }
  }
}