
$spriteSVG: url("../images/sprite.svg");
$spritePNG: url("../images/sprite.png");

%sprite-div {
	display: inline-block;
	background: $spritePNG;
	background: $spriteSVG,
    linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;
}




.sprite-logo {
	@extend %sprite-div;
	position: relative;
	background-position: 0 0;
	width: 234px;
	height: 30px;

	@include breakpoint($tablet-width) {
	    background-position: -250px 0;
		width: 299px;
		height: 40px;
	}
}




.sprite-bell {
	@extend %sprite-div;
	position: absolute;
	background-position: 0 -50px;
	width: 50px;
	height: 40px;

	&.icon-hover {
		background-position: 0 -130px;
	}
}

.sprite-fish {
	@extend %sprite-div;
	position: absolute;
	background-position: -50px -50px;
	width: 50px;
	height: 40px;

	&.icon-hover {
		background-position: -50px -130px;
	}
}

.sprite-grape {
	@extend %sprite-div;
	position: absolute;
	background-position: -100px -50px;
	width: 50px;
	height: 40px;

	&.icon-hover {
		background-position: -100px -130px;
	}
}

.sprite-cup {
	@extend %sprite-div;
	position: absolute;
	background-position: -150px -50px;
	width: 50px;
	height: 40px;

	&.icon-hover {
		background-position: -150px -130px;
	}
}

.sprite-bread {
	@extend %sprite-div;
	position: absolute;
	background-position: -200px -50px;
	width: 50px;
	height: 40px;

	&.icon-hover {
		background-position: -200px -130px;
	}
}

.sprite-album {
	@extend %sprite-div;
	position: absolute;
	background-position: -250px -50px;
	width: 50px;
	height: 40px;

	&.icon-hover {
		background-position: -250px -130px;
	}
}




.sprite-search {
	@extend %sprite-div;
	position: relative;
	background-position: 0 -180px;
	width: 40px;
	height: 40px;
}




.sprite-footer-logo {
	@extend %sprite-div;
	position: relative;
	background-position: 0 -320px;
	width: 100px;
	height: 100px;

	@include breakpoint($mobile-width) {
	    background-position: 0 -230px;
		width: 382px;
		height: 70px;
	}

	@include breakpoint($laptop-width) {
	    background-position: 0 -320px;
		width: 576px;
		height: 100px;
	}
}





.sprite-top-btn {
	@extend %sprite-div;
	position: relative;
	background-position: -90px -187px;
	width: 44px;
	height: 30px;
}

.sprite-top-btn-black {
	@extend .sprite-top-btn;
	background-position: -140px -187px;
}





.sprite-down-sm-btn {
	@extend %sprite-div;
	position: relative;
	background-position: -350px -190px;
	width: 18px;
	height: 12px;
}

.black .sprite-down-sm-btn {
	@extend .sprite-down-sm-btn;
	background-position: -380px -190px;
}





.sprite-grid {
	@extend %sprite-div;
	position: relative;
	background-position: -220px -190px;
	width: 20px;
	height: 20px;
}





.sprite-slide-arrow {
	@extend %sprite-div;
	position: relative;
	// background-position: -380px -240px;
	width: 40px;
	height: 50px;

	&.left {
		background-position: -380px -240px;
	}

	&.right {
		background-position: -423px -240px;
	}
}





.sprite-right-arrow {
	@extend %sprite-div;
	position: relative;
	background-position: -450px -193px;
	width: 13px;
	height: 20px;
}





.sprite-timeline-arrow {
	@extend %sprite-div;
	position: relative;
	background-position: -480px -190px;
	width: 28px;
	height: 18px;
}





.sprite-close-btn {
	@extend %sprite-div;
	position: relative;
	background-position: -520px -190px;
	width: 52px;
	height: 52px;
}





.sprite-download {
	@extend %sprite-div;
	position: relative;
	background-position: 0 -440px;
	width: 16px;
	height: 20px;
}

.sprite-download.black {
	background-position: -40px -440px;
}

.noTouch body.stpaul-stPaulHome #content .hero a.util-box-btn:hover .sprite-download,
body.stpaul-stPaulHome #content .content-body .sprite-download {
	background-position: -80px -440px;
}

.noTouch body.stpaul-stPaulOffice #content .hero a.util-box-btn:hover .sprite-download,
body.stpaul-stPaulOffice #content .content-body .sprite-download {
	background-position: -120px -440px;
}

.noTouch body.stpaul-spiritualLife #content .hero a.util-box-btn:hover .sprite-download,
body.stpaul-spiritualLife #content .content-body .sprite-download {
	background-position: -160px -440px;
}

.noTouch body.stpaul-oneCommunity #content .hero a.util-box-btn:hover .sprite-download,
body.stpaul-oneCommunity #content .content-body .sprite-download {
	background-position: -200px -440px;
}

.noTouch body.stpaul-ourParish #content .hero a.util-box-btn:hover .sprite-download,
body.stpaul-ourParish #content .content-body .sprite-download {
	background-position: -240px -440px;
}

.noTouch body.stpaul-educationCenter #content .hero a.util-box-btn:hover .sprite-download,
body.stpaul-educationCenter #content .content-body .sprite-download {
	background-position: -280px -440px;
}

.noTouch body.stpaul-mediaLibrary #content .hero a.util-box-btn:hover .sprite-download,
body.stpaul-mediaLibrary #content .content-body .sprite-download {
	background-position: -320px -440px;
}




.sprite-link {
	@extend %sprite-div;
	position: relative;
	background-position: 0 -500px;
	width: 28px;
	height: 16px;
}

.sprite-link.black {
	background-position: -40px -500px;
}

.noTouch body.stpaul-stPaulHome #content .hero a.util-box-btn:hover .sprite-link,
body.stpaul-stPaulHome #content .content-body .sprite-link {
	background-position: -80px -500px;
}

.noTouch body.stpaul-stPaulOffice #content .hero a.util-box-btn:hover .sprite-link,
body.stpaul-stPaulOffice #content .content-body .sprite-link {
	background-position: -120px -500px;
}

.noTouch body.stpaul-spiritualLife #content .hero a.util-box-btn:hover .sprite-link,
body.stpaul-spiritualLife #content .content-body .sprite-link {
	background-position: -160px -500px;
}

.noTouch body.stpaul-oneCommunity #content .hero a.util-box-btn:hover .sprite-link,
body.stpaul-oneCommunity #content .content-body .sprite-link {
	background-position: -200px -500px;
}

.noTouch body.stpaul-ourParish #content .hero a.util-box-btn:hover .sprite-link,
body.stpaul-ourParish #content .content-body .sprite-link {
	background-position: -240px -500px;
}

.noTouch body.stpaul-educationCenter #content .hero a.util-box-btn:hover .sprite-link,
body.stpaul-educationCenter #content .content-body .sprite-link {
	background-position: -280px -500px;
}

.noTouch body.stpaul-mediaLibrary #content .hero a.util-box-btn:hover .sprite-link,
body.stpaul-mediaLibrary #content .content-body .sprite-link {
	background-position: -320px -500px;
}




.sprite-link-ext {
	@extend %sprite-div;
	position: relative;
	background-position: 0 -470px;
	width: 29px;
	height: 16px;
}

.sprite-link-ext.black {
	background-position: -40px -470px;
}

.noTouch body.stpaul-stPaulHome #content .hero a.util-box-btn:hover .sprite-link-ext,
body.stpaul-stPaulHome #content .content-body .sprite-link-ext {
	background-position: -80px -470px;
}

.noTouch body.stpaul-stPaulOffice #content .hero a.util-box-btn:hover .sprite-link-ext,
body.stpaul-stPaulOffice #content .content-body .sprite-link-ext {
	background-position: -120px -470px;
}

.noTouch body.stpaul-spiritualLife #content .hero a.util-box-btn:hover .sprite-link-ext,
body.stpaul-spiritualLife #content .content-body .sprite-link-ext {
	background-position: -160px -470px;
}

.noTouch body.stpaul-oneCommunity #content .hero a.util-box-btn:hover .sprite-link-ext,
body.stpaul-oneCommunity #content .content-body .sprite-link-ext {
	background-position: -200px -470px;
}

.noTouch body.stpaul-ourParish #content .hero a.util-box-btn:hover .sprite-link-ext,
body.stpaul-ourParish #content .content-body .sprite-link-ext {
	background-position: -240px -470px;
}

.noTouch body.stpaul-educationCenter #content .hero a.util-box-btn:hover .sprite-link-ext,
body.stpaul-educationCenter #content .content-body .sprite-link-ext {
	background-position: -280px -470px;
}

.noTouch body.stpaul-mediaLibrary #content .hero a.util-box-btn:hover .sprite-link-ext,
body.stpaul-mediaLibrary #content .content-body .sprite-link-ext {
	background-position: -320px -470px;
}




.sprite-link-sm,
body #content .hero a .sprite-link-sm,
body #content .media a .sprite-link-sm,
body #content .media a.text-btn.black:active .sprite-link-sm,
.noTouch body #content .hero a .sprite-link-sm,
.noTouch body #content .hero a.black:hover .sprite-link-sm,
.noTouch body #content .media a .sprite-link-sm,
.noTouch body #content .content-body .media a.text-btn.black:hover .sprite-link-sm {
	@extend %sprite-div;
	position: relative;
	background-position: 0 -550px;
	width: 21px;
	height: 14px;
}

.noTouch body #content a:hover .sprite-link-sm,
.noTouch body #content a.black .sprite-link-sm,
body #content a.black .sprite-link-sm,
body #content .content-body a:active .sprite-link-sm {
	background-position: -40px -550px;
}

.noTouch body.stpaul-stPaulHome #content .content-body a.black:hover .sprite-link-sm,
body.stpaul-stPaulHome #content a.black:active .sprite-link-sm,
body.stpaul-stPaulHome #content .sprite-link-sm {
	background-position: -80px -550px;
}

.noTouch body.stpaul-stPaulOffice #content .content-body a.black:hover .sprite-link-sm,
body.stpaul-stPaulOffice #content a.black:active .sprite-link-sm,
body.stpaul-stPaulOffice #content .sprite-link-sm {
	background-position: -120px -550px;
}

.noTouch body.stpaul-spiritualLife #content .content-body a.black:hover .sprite-link-sm,
body.stpaul-spiritualLife #content a.black:active .sprite-link-sm,
body.stpaul-spiritualLife #content .sprite-link-sm {
	background-position: -160px -550px;
}

.noTouch body.stpaul-oneCommunity #content .content-body a.black:hover .sprite-link-sm,
body.stpaul-oneCommunity #content a.black:active .sprite-link-sm,
body.stpaul-oneCommunity #content .sprite-link-sm {
	background-position: -200px -550px;
}

.noTouch body.stpaul-ourParish #content .content-body a.black:hover .sprite-link-sm,
body.stpaul-ourParish #content a.black:active .sprite-link-sm,
body.stpaul-ourParish #content .sprite-link-sm {
	background-position: -240px -550px;
}

.noTouch body.stpaul-educationCenter #content .content-body a.black:hover .sprite-link-sm,
body.stpaul-educationCenter #content a.black:active .sprite-link-sm,
body.stpaul-educationCenter #content .sprite-link-sm {
	background-position: -280px -550px;
}

.noTouch body.stpaul-mediaLibrary #content .content-body a.black:hover .sprite-link-sm,
body.stpaul-mediaLibrary #content a.black:active .sprite-link-sm,
body.stpaul-mediaLibrary #content .sprite-link-sm {
	background-position: -320px -550px;
}




.sprite-link-ext-sm,
body #content .hero a .sprite-link-ext-sm,
body #content .media a .sprite-link-ext-sm,
body #content .media a.text-btn.black:active .sprite-link-ext-sm,
.noTouch body #content .hero a .sprite-link-ext-sm,
.noTouch body #content .hero a.black:hover .sprite-link-ext-sm,
.noTouch body #content .media a .sprite-link-ext-sm,
.noTouch body #content .content-body .media a.text-btn.black:hover .sprite-link-ext-sm {
	@extend %sprite-div;
	position: relative;
	background-position: 0 -530px;
	width: 21px;
	height: 14px;
}

.noTouch body #content a:hover .sprite-link-ext-sm,
.noTouch body #content a.black .sprite-link-ext-sm,
body #content a.black .sprite-link-ext-sm,
body #content .content-body a:active .sprite-link-ext-sm {
	background-position: -40px -530px;
}

.noTouch body.stpaul-stPaulHome #content .content-body a.black:hover .sprite-link-ext-sm,
body.stpaul-stPaulHome #content a.black:active .sprite-link-ext-sm,
body.stpaul-stPaulHome #content .sprite-link-ext-sm {
	background-position: -80px -530px;
}

.noTouch body.stpaul-stPaulOffice #content .content-body a.black:hover .sprite-link-ext-sm,
body.stpaul-stPaulOffice #content a.black:active .sprite-link-ext-sm,
body.stpaul-stPaulOffice #content .sprite-link-ext-sm {
	background-position: -120px -530px;
}

.noTouch body.stpaul-spiritualLife #content .content-body a.black:hover .sprite-link-ext-sm,
body.stpaul-spiritualLife #content a.black:active .sprite-link-ext-sm,
body.stpaul-spiritualLife #content .sprite-link-ext-sm {
	background-position: -160px -530px;
}

.noTouch body.stpaul-oneCommunity #content .content-body a.black:hover .sprite-link-ext-sm,
body.stpaul-oneCommunity #content a.black:active .sprite-link-ext-sm,
body.stpaul-oneCommunity #content .sprite-link-ext-sm {
	background-position: -200px -530px;
}

.noTouch body.stpaul-ourParish #content .content-body a.black:hover .sprite-link-ext-sm,
body.stpaul-ourParish #content a.black:active .sprite-link-ext-sm,
body.stpaul-ourParish #content .sprite-link-ext-sm {
	background-position: -240px -530px;
}

.noTouch body.stpaul-educationCenter #content .content-body a.black:hover .sprite-link-ext-sm,
body.stpaul-educationCenter #content a.black:active .sprite-link-ext-sm,
body.stpaul-educationCenter #content .sprite-link-ext-sm {
	background-position: -280px -530px;
}

.noTouch body.stpaul-mediaLibrary #content .content-body a.black:hover .sprite-link-ext-sm,
body.stpaul-mediaLibrary #content a.black:active .sprite-link-ext-sm,
body.stpaul-mediaLibrary #content .sprite-link-ext-sm {
	background-position: -320px -530px;
}




.sprite-download-sm,
body #content .hero a .sprite-download-sm,
body #content .media a .sprite-download-sm,
body #content .media a.text-btn.black:active .sprite-download-sm,
.noTouch body #content .hero a .sprite-download-sm,
.noTouch body #content .hero a.black:hover .sprite-download-sm,
.noTouch body #content .media a .sprite-download-sm,
.noTouch body #content .content-body .media a.text-btn.black:hover .sprite-download-sm {
	@extend %sprite-div;
	position: relative;
	background-position: 0 -570px;
	width: 12px;
	height: 14px;
}

.noTouch body #content a:hover .sprite-download-sm,
.noTouch body #content a.black .sprite-download-sm,
body #content a.black .sprite-download-sm,
body #content .content-body a:active .sprite-download-sm {
	background-position: -40px -570px;
}

.noTouch body.stpaul-stPaulHome #content .content-body a.black:hover .sprite-download-sm,
body.stpaul-stPaulHome #content a.black:active .sprite-download-sm,
body.stpaul-stPaulHome #content .sprite-download-sm {
	background-position: -80px -570px;
}

.noTouch body.stpaul-stPaulOffice #content .content-body a.black:hover .sprite-download-sm,
body.stpaul-stPaulOffice #content a.black:active .sprite-download-sm,
body.stpaul-stPaulOffice #content .sprite-download-sm {
	background-position: -120px -570px;
}

.noTouch body.stpaul-spiritualLife #content .content-body a.black:hover .sprite-download-sm,
body.stpaul-spiritualLife #content a.black:active .sprite-download-sm,
body.stpaul-spiritualLife #content .sprite-download-sm {
	background-position: -160px -570px;
}

.noTouch body.stpaul-oneCommunity #content .content-body a.black:hover .sprite-download-sm,
body.stpaul-oneCommunity #content a.black:active .sprite-download-sm,
body.stpaul-oneCommunity #content .sprite-download-sm {
	background-position: -200px -570px;
}

.noTouch body.stpaul-ourParish #content .content-body a.black:hover .sprite-download-sm,
body.stpaul-ourParish #content a.black:active .sprite-download-sm,
body.stpaul-ourParish #content .sprite-download-sm {
	background-position: -240px -570px;
}

.noTouch body.stpaul-educationCenter #content .content-body a.black:hover .sprite-download-sm,
body.stpaul-educationCenter #content a.black:active .sprite-download-sm,
body.stpaul-educationCenter #content .sprite-download-sm {
	background-position: -280px -570px;
}

.noTouch body.stpaul-mediaLibrary #content .content-body a.black:hover .sprite-download-sm,
body.stpaul-mediaLibrary #content a.black:active .sprite-download-sm,
body.stpaul-mediaLibrary #content .sprite-download-sm {
	background-position: -320px -570px;
}
