// ***********************************
// VARIABLES
// ***********************************

// @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
// @import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@import url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumGothic-Regular.eot);
  src: url(../fonts/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumGothic-Regular.woff2) format('woff2'),
       url(../fonts/NanumGothic-Regular.woff) format('woff'),
       url(../fonts/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NanumGothic-Bold.eot);
  src: url(../fonts/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumGothic-Bold.woff2) format('woff2'),
       url(../fonts/NanumGothic-Bold.woff) format('woff'),
       url(../fonts/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/NanumGothic-ExtraBold.eot);
  src: url(../fonts/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(../fonts/NanumGothic-ExtraBold.woff) format('woff'),
       url(../fonts/NanumGothic-ExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumMyeongjo-Regular.eot);
  src: url(../fonts/NanumMyeongjo-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumMyeongjo-Regular.woff2) format('woff2'),
       url(../fonts/NanumMyeongjo-Regular.woff) format('woff'),
       url(../fonts/NanumMyeongjo-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/NanumMyeongjo-Bold.eot);
  src: url(../fonts/NanumMyeongjo-Bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumMyeongjo-Bold.woff2) format('woff2'),
       url(../fonts/NanumMyeongjo-Bold.woff) format('woff'),
       url(../fonts/NanumMyeongjo-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NanumMyeongjo-ExtraBold.eot);
  src: url(../fonts/NanumMyeongjo-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/NanumMyeongjo-ExtraBold.woff2) format('woff2'),
       url(../fonts/NanumMyeongjo-ExtraBold.woff) format('woff'),
       url(../fonts/NanumMyeongjo-ExtraBold.ttf) format('truetype');
}




// LAYOUT
$mobile-width: 420px;
$tablet-width: 640px;
$tablet-wide-width: 760px;
$laptop-width: 920px;
$desktop-width: 1024px;
$wide-width: 1200px;




// TYPOGRAPHY
$font-size-main: 14px; 
$font-sans: 'Nanum Gothic', sans-serif;
$font-serif: 'Nanum Myeongjo', serif;
$font-weight: 400;
$font-size: 100%;
$line-height: 1.625;
$font-size-mobile: 100%;
$line-height-mobile: 1.625;
$h1: 18px;
$h2: 3em;
$h3: 2.4em;
$h4: 1.8em;
$h5: 1.4em;
$h6: 0.6em;




// COLORS
$col-white: #fff;
$col-black: #202020;
$col-grey: #dfdfdf;
$col-grey-l: lighten( $col-grey, 5% );
$col-grey-d: darken( $col-grey, 10% );
$col-grey-d1: #afafaf;
$col-grey-d2: #9d9d9d;
$col-grey-d3: #4d4d4d;
$col-grey-d4: #2d2d2d;

$col-lightBlue: #42a4db;

$col-stPaulHome: #68adcb;
$col-stPaulHome-sub: darken( $col-stPaulHome, 20% );

$col-stPaulOffice: #78cac0;
$col-stPaulOffice-sub: darken( $col-stPaulOffice, 20% );

$col-spiritualLife: #97b76e;
$col-spiritualLife-sub: darken( $col-spiritualLife, 20% );

$col-ourParish: #8776b6;
$col-ourParish-sub: darken( $col-ourParish, 20% );

$col-oneCommunity: #c0b563;
$col-oneCommunity-sub: darken( $col-oneCommunity, 20% );

$col-educationCenter: #5a748c;
$col-educationCenter-sub: darken( $col-educationCenter, 20% );

$col-mediaLibrary: #d08fae;
$col-mediaLibrary-sub: darken( $col-mediaLibrary, 20% );


$col-body: $col-white;//$col-grey;//
$col-body-txt: $col-black;




// Other
$border-radius: 5px;




$themes: (
  stpaul-stPaulHome: $col-stPaulHome,
  stpaul-stPaulOffice: $col-stPaulOffice,
  stpaul-spiritualLife: $col-spiritualLife,
  stpaul-oneCommunity: $col-oneCommunity,
  stpaul-ourParish: $col-ourParish,
  stpaul-educationCenter: $col-educationCenter,
  stpaul-mediaLibrary: $col-mediaLibrary
) !default;

