// ***********************************
// CONTENT-ASIDE
// ***********************************

@each $theme, $color in $themes {
	@include stylize-aside($theme, $color);
}

body #content .content-body {
	.side-body {
		margin-top: 10px;
		margin-bottom: 20px;

		@include breakpoint($tablet-width) {
			margin-top: 20px;
			margin-bottom: 30px;
		}

		@include breakpoint($tablet-wide-width) {
			margin-top: 0;
			margin-bottom: 0;
		}

		.opened {
			padding-top: 30px;
			padding-bottom: 40px;
			
			@include breakpoint($tablet-width) {
				padding-bottom: 50px;
			}

			@include breakpoint($tablet-wide-width) {
				&:first-child {
					padding-top: 0;
				}

				padding-bottom: 40px;
			}

			h3 {
				margin-bottom: 10px;
			}

			p {
				font-size: .86rem;
				line-height: 1.5rem;
			}

			&.homily {
				h5 {
					margin-top: 5px;
					margin-bottom: 5px;
					line-height: 1.4em;

					@include breakpoint($tablet-wide-width) {
						margin-top: 20px;
					}
				}

				span.date {
					font-size: .86rem;
					// color: $col-black;
				}

				.container {
					.thumbnail {
						display: inline-block;
						width: 90px;
						height: 90px;
						margin: 15px auto 0;
						overflow: hidden;
						float: none;

						@include breakpoint($tablet-wide-width) {
							margin: 5px 15px 5px 0;
							float: left;
						}

						img {
							height: 100%;
						}
					}
				}
			}
		}

		.boxed {
			margin-bottom: 15px;//30px;
			
			@include breakpoint($tablet-width) {
				margin-bottom: 30px;
			}
			
			@include breakpoint($tablet-wide-width) {
				margin-bottom: 20px;
			}

			&:last-child {
				margin-bottom: 0;
			}

			border: 1px solid $col-grey;
			// border: 1px solid $col-grey-d;
			font-size: .86rem;
			line-height: 1.5rem;

			.padder {
				padding: 35px 20px 15px;

				@include breakpoint($tablet-wide-width) {
					padding: 30px 25px 10px;
				}
			}

			h4 {
				position: relative;
				display: inline-block;
				color: $col-black;
				margin-bottom: 20px;

				&.shift {
					padding-left: 25px;
					padding-right: 40px;
				}

				a.more-link.sprite-link {
					position: absolute;
					background-position: -40px -500px;
					top: 4px;//2px;
					right: 2px;
					opacity: .15;

					&:active {
						opacity: 1;
					}
				}

				@include breakpoint($tablet-wide-width) {
					display: block;
					padding: 0;
					margin-bottom: 25px;

					&.shift {
						padding: 0;
					}
				}
			}

			.thumbnail {
				width: 100%;
				border: 1px solid $col-grey;
				font-size: 0;
				line-height: 0;

				img {
					width: 100%;
				}
			}

			ul {
				@extend %no-style-ul;
				font-size: 1em;
				@include container(100%);

				li {
					@include span(full inside no-gutters);
					border-top: 1px solid $col-grey-l;

					.content-image {
						margin: 35px auto 15px;
						max-width: 200px;

						@include breakpoint($tablet-wide-width) {
							margin: 15px 15px 0 0;
						}
					}

					&:first-child {
						border: none;

						.content-image {
							margin: 15px auto;

							@include breakpoint($tablet-wide-width) {
								margin: 0 15px 0 0;
							}
						}
					}

					&.text {
						padding: 15px 0;
					}
				}

				a.list-item {
					@include span(full inside no-gutters);
					padding: 15px 0;
					line-height: 1.5em;
					font-weight: 400;

					.date {
						@include span(6 of 18 inside no-gutters);

						color: darken($col-grey-d2, 15%);
						font-weight: 800;

						@include breakpoint($tablet-wide-width) {
							@include span(7 of 18 inside no-gutters);
						}

						@include breakpoint($laptop-width) {
							@include span(6 of 18 inside no-gutters);
						}
					}

					.txt {
						@include span(12 of 18 inside no-gutters);
						text-align: left;

						@include breakpoint($tablet-wide-width) {
							@include span(11 of 18 inside no-gutters);
						}

						@include breakpoint($laptop-width) {
							@include span(12 of 18 inside no-gutters);
						}
					}

					.icon {
						display: inline-block;
					    vertical-align: top;
					    margin-left: 4px;
					    margin-top: 2px;
					}
				}

				a.text-btn {
					display: inline-block;
					padding: 15px 0;
					padding-right: 26px;
					line-height: 1.5em;
					@include breakpoint($tablet-wide-width) {
						display: block;
					}

					.icon {
						position: absolute;
						top: 16px;
						right: 4px;
					}
				}
			}

			&.calendar {
				position: relative;
				background: $col-grey;
				border: none;

				table {
					width: 100%;
					border: none;
					padding: 0;
					background: $col-grey-l;
					
					td {
						color: $col-grey-d2;
						font-weight: 700;
						text-align: center;
						// border: 1px solid darken($col-grey, 5%);
						border: 1px solid $col-grey;

						a, span {
							display: block;
							padding: 8px 0;

							@include breakpoint($tablet-width) {
								padding: 24px 0;
							}

							@include breakpoint($tablet-wide-width) {
								padding: 5px 0;
							}
						}
					}

					tr.label {
						background: $col-white;

						td {
							color: $col-grey-d3;
							// border: 1px solid darken($col-grey, 5%);
							border: 1px solid $col-grey;
							padding: 4px 0;

							@include breakpoint($tablet-width) {
								padding: 12px 0;
							}

							@include breakpoint($tablet-wide-width) {
								padding: 4px 0;
							}
						}
					}

					h5 {
						background: $col-white;
						text-align: center;
						padding: 20px 0 18px;

						@include breakpoint($tablet-wide-width) {
							padding: 10px 0;
						}

						.m-left {
							margin: 0;
							margin-right: 25px;
						}

						.m-right {
							margin: 0;
							margin-left: 25px;
						}

						a {
							display: inline-block;
							padding: 3px 5px;
						}
					}
				}

				.event-box {
					position: absolute;
					display: none;
					padding: 10px;
					color: $col-white;
					background: $col-black;
					white-space: nowrap;

					left: 60px;
					top: 100px;
				}
			}

			&.form {
				input, textarea {
					display: block;
					width: 100%;
					margin: 0;
					margin-bottom: 10px;
					padding: 10px;
					font-family: $font-sans;
					font-size: .86rem;
					font-weight: 400;
					appearance: none;
					box-shadow: none;
					border-radius: none;
					border-radius: 0;
					border: 1px solid $col-grey;
					background: lighten($col-grey-l, 5%);
					outline: none;
					// float: left;
				}

				textarea {
					height: 120px;
				}

				hr {
					margin: 0 0 15px;
				}

				button[type="submit"] {
					width: 100%;
					font-weight: 700;
					letter-spacing: 1pt;
					box-shadow: none;
					border-radius: none;
					border-radius: 0;
					border: none;
				    overflow: hidden;
				    appearance: none;
				    -webkit-appearance: none;

					&:focus {
						box-shadow: none;
						outline: none;
					}
				}
			}

			.group-finder {
				background: #f0f0f0;//$col-white;
				border: 1px solid $col-grey-l;
				height: 150px;
				margin-bottom: 10px;
				overflow: auto;
				overflow-y: scroll;
				-webkit-overflow-scrolling: touch;

				ul {
					padding: 13px 20px;

					li {
					    border-top-color: $col-grey;
					}

					li a {
						display: block;
						padding: 6px 0;
					}
				}
			}
		}

		.color-bar {
			display: block;
			padding: 4px;
		}

		.bottom-btn {
			display: block;
			padding: 15px;
			background: $col-grey;
			// border-top: 1px solid $col-grey;
			text-align: center;
			color: $col-white;

			.label {
				position: relative;
				display: inline-block;
				padding-right: 26px;
				margin: 0 auto;

				.icon {
					position: absolute;
					background-position: 0 -550px;
					top: 3px;
					right: 0;

					&.sprite-link-ext-sm {
						background-position: 0 -530px;
					}
				}
			}

			&:active {
				background: $col-black;
				opacity: 1;
			}
		}

		h3 {
			margin-bottom: 30px;//10px;

			@include breakpoint($tablet-wide-width) {
				margin-bottom: 10px;//30px;
			}
		}

		hr {
			width: 100%;
			border: 0;
			height: 1px;
			background: $col-grey;
			margin: 30px 0 15px;

			@include breakpoint($tablet-wide-width) {
				margin: 10px 0 10px;
				float: left;
			}
		}

		.content-image {
			margin: 35px auto 15px;
			max-width: 200px;

			@include breakpoint($tablet-wide-width) {
				margin: 5px 15px 0 0;
			}
		}

		.contact-name {
    		display: inline-block;
    		margin: 5px 0;
			font-weight: 700;
			font-size: 1rem;
		}

		.sidebar-gallery {
			p {
				text-align: center;
			}

			.thumbnail {
				max-width: 320px;
				margin: 20px auto;
				font-size: 0;
				overflow: hidden;


				@include breakpoint($tablet-wide-width) {
					margin: 0 auto 10px;
				}

				img {
					@include trans(.25s, opacity);
					width: 100%;
				}
			}

			@include breakpoint($tablet-wide-width) {
				p {
					margin-top: 8px;
				}

				h3 {
					margin-bottom: 8px;
				}
			}
		}
	}
}

.noTouch body #content .content-body {
	.side-body {
		h4 {
			a.more-link {
				&:hover {
					opacity: 1;
				}

				&:active {
					opacity: .5;
				}
			}
		}

		a.list-item {
			&:hover .date {
				color: $col-black;
			}
		}

		.bottom-btn {
			&:hover {
				background: $col-black;
			}

			&:active {
				background: $col-grey-d2;
				opacity: 1;
			}
		}
	}
}
