// ***********************************
// CONTENT
// ***********************************

$page-color: $col-stPaulOffice;
$page-color-sub: $col-stPaulOffice-sub;

#content {
	.hero {
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		background: $page-color;
		color: $col-white;
		min-height: auto;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;

	    @include breakpoint($tablet-width) {
			min-height: 640px;
			background: $page-color url("../images/stpaulOffice-bg.jpg") no-repeat top right;
			background-size: cover;
		}

		a {
			color: $col-white;

			&:hover {
				text-decoration: none;
			}

			&:visited {
				color: $col-white;
			}

			&:active {
				color: $col-stPaulOffice-sub;
			}
		}

		.wrapper {
			text-align: center;
			position: relative;
			height: auto;
			margin-top: 50px;

			@include breakpoint($tablet-width) {
				margin-top: 70px;
				height: 470px;
				text-align: left;
			}

			h3, p {
				@include span(9);
				@include breakpoint($tablet-width) {
					@include span(6);
				}
			}

			h3 {
				padding: 60px 0 10px;
				margin-left: 0;

				@include breakpoint($tablet-width) {
					padding: 80px 0 0;
				}

				span {
					margin-left: 55px;
					margin-right: 20px;
					line-height: 40px;
				}
			}

			ul {
				@extend %no-style-ul;
				@include span(9);
				
				position: relative;

				@include breakpoint($tablet-width) {
					@include span(4);
					position: absolute;
					bottom: 0;
					left: 20px;
				}

				li {
					margin: 10px 0;
					font-size: 1em;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.links {
				position: relative;
				display: inline-block;
				// @include span(9);
				margin: 10px auto 50px;

				@include breakpoint($tablet-width) {
					@include span(5);
					position: absolute;
					bottom: 0;
					right: 0;
					margin-top: 0;
					margin-bottom: 0;
				}
			}

			a.util-box-btn {
				// color: $col-white;
				// background: lighten( $col-stPaulOffice-sub, 10% );
				color: $col-stPaulOffice-sub;
				background: rgba($col-white, .75);
				display: inline-block;
				min-height: 90px;
				padding: 14px 10px;
				margin: 12px 6px 0;
				text-align: center;
				font-size: 1rem;
				font-weight: 400;
				letter-spacing: .5pt;
				border: 2px solid $col-stPaulOffice-sub;
				border-radius: 6px;
				float: right;

				@include trans(.15s, all, ease-out);

				&:hover {
					// background: $col-stPaulOffice-sub;
					// border-color: lighten( $col-stPaulOffice, 15% );
					background: rgba($col-stPaulOffice-sub, .75);
					color: $col-white;
					border-color: $col-white;

					.btn1 {
						background-position: -300px -190px;
					}
				}

				span {
					display: block;
					font-size: .75em;
					font-weight: 700;
					letter-spacing: .1pt;
				}
				.btn1 {
					margin: 5px auto 0;
				}
			}
		}

		.sub-nav-bg {
			position: absolute;
			width: 100%;
			height: 6px;
			bottom: 0;
			left: 0;
			background: $col-white;

			@include breakpoint($tablet-width) {
				height: 60px;
			}
		}

		.sub-nav {
			position: absolute;
			width: 100%;
			height: 6px;
			top: auto;
			bottom: 0;
			left: 0;
			margin-top: 0;
			text-align: center;
			background: $page-color-sub;
			border-bottom: none;
			overflow: hidden;
			z-index: 500;

			ul {
				@extend %no-style-ul;

				display: none;
				position: relative;
				height: 100%;
				max-width: $tablet-width;
				margin: 0 auto;
			}

			ul li {
				float: left;
				font-size: 0;

				a.sub-nav-btn {
					padding: 7px 13px;
					line-height: 60px;
					margin: 0;
					letter-spacing: 1pt;
					font-size: 1rem;
					font-weight: 400;
					color: lighten( $col-stPaulOffice, 20% );
					opacity: 1;
					@include trans(.15s, color, ease-out);
					// transition: color .15s ease-out, line-height .15s ease-out;

					&:active {
						color: $col-black;
					}
				}

				a.sprite-top-btn {
					padding: 0;
					margin: 15px 0;
					font: 0/0 a;
					opacity: .1;
					cursor: default;
					@include trans(.15s, opacity, ease-out);
					// @include trans(.15s, margin, ease-out);
					// transition: opacity .15s ease-out, margin .15s ease-out;
				}

				.sub-nav-divider {
					width: 1px;
					height: 12px;
					margin: 24px 0;
					background: $col-white;
					opacity: .25;
				}

				&:last-child {
					margin-right: 12px;
				}
			}

			@include breakpoint($tablet-width) {
				height: 60px;

				ul {
					display: inline-block;
				}
			}
		}
	}

	.content-body {
		position: relative;
		padding-top: 120px;
	}

	&.sticky-nav {
		.hero {
			.sub-nav-bg {
				@include breakpoint($tablet-width) {
					height: 40px;
				}
			}

			.sub-nav {
				position: fixed;
				top: 50px;
				bottom: auto;
				border-bottom: 1px solid $col-grey-d3;

				a.sub-nav-btn {
					line-height: 40px;
				}

				a.sprite-top-btn {
					opacity: .75;
					cursor: pointer;
					margin-top: 5px;
					margin-bottom: 5px;

					&:active {
						background-position: -140px -187px;
						opacity: .5;
					}
				}

				.sub-nav-divider {
					margin: 14px 0;
				}

				@include breakpoint($tablet-width) {
					top: 70px;
					height: 40px;
				}
			}
		}
	}
}

.noTouch #content {
	.hero .sub-nav {
		a:hover {
			color: $col-white;
		}
	}

	&.sticky-nav {
		.hero .sub-nav {
			a.sprite-top-btn:hover {
				opacity: 1;
				&:active {
					opacity: .5;
				}
			}
		}
	}
}

.noResize #content {
	// .hero {
	// 	.sub-nav-bg {
	// 		@include trans(.15s, height, ease-out);
	// 	}
	// 	.sub-nav {
	// 		@include trans(.15s, height, ease-out);
	// 	}
	// }
}

.iOS-detect.noResize #content {
	.hero {
		transition: none;
		.sub-nav {
			transition: none;
			@include trans(.25s, margin-top);

			a {
				transition: none;
			}
		}
	}

	&.sticky-nav {
		.hero .sub-nav {
			margin-top: 40px;
			top: 10px;

			@include breakpoint($tablet-width) {
				top: 30px;
			}
		}
	}
}