// ***********************************
// CONTENT-BODY
// ***********************************

@each $theme, $color in $themes {
	@include stylize-contentBody($theme, $color);
}

body #content {
	.content-body {
		// position: relative;
		
		color: $col-grey-d3;

		a {
			color: $col-grey-d3;

			&:hover {
				text-decoration: none;
			}

			&:visited {
				color: $col-black;
			}
		}

		.section {
			padding-top: 70px;
			padding-bottom: 50px;

			@include breakpoint($tablet-width) {
				&:first-child {
					padding-top: 90px;
					border-bottom: 1px solid $col-grey-l; //REMOVE
				}
			}

			&:last-child {
				padding-bottom: 80px;
			}
		}

		.main-body {
			@include span(9);
			text-align: center;

			@include breakpoint($tablet-width) {
				@include span(6);
				text-align: left;
			}
		}

		.side-body {
			@include span(9);
			text-align: center;

			@include breakpoint($tablet-width) {
				@include span(3);
				text-align: left;
			}
		}

		h3 {
			margin-bottom: 30px;
		}

		.media {
			color: $col-white;

			.main-body {
				@include span(9);
			}

			a, a:visited {
				color: $col-white;
			}
		}
	}
}

// .noResize #content {
// 	.content-body {

// 	}
// }


// #content.sticky-nav {
// 	.content-body {
// 		.anchor {
// 			padding-bottom: 55px;

// 			@include breakpoint($tablet-width) {
// 				padding-bottom: 108px;
// 			}
// 		}

// 		.section {
// 			padding-bottom: 0;
// 		}
// 	}
// }