// ***********************************
// HEADER
// ***********************************

@each $theme, $color in $themes {
	@include stylize-header($theme, $color);
}

body #header {
	position: fixed;
	background: $col-black;
	left: 0;
	width: 100%;
	height: 50px;
	overflow: hidden;
	z-index: 100000;

	@include breakpoint($tablet-width) {
	    height: 70px;
	}

	a {
		color: $col-white;

		&:hover {
			text-decoration: none;
		}

		&:visited {
			color: $col-white;
		}

		&:active {
			color: $col-stPaulHome;
		}
	}

	.wrapper {
		@include container(100%);
		position: relative;
	}

	.masthead {
		display: block;
		position: relative;
		height: 48px;
		margin: 2px 10px 0;
		padding: 0;
		text-align: left;
		border: none;
		background: $col-black;

		@include breakpoint($mobile-width) {
		    text-align: center;
		}
		
		@include breakpoint($tablet-width) {
		    height: 68px;
		    margin: 2px 20px 0;
		}

		a {
			display: inline-block;
			overflow: hidden;
		}

		h1 {
			margin: 0;
			line-height: 0;

			a.logo-container {
				padding: 9px 5px;
				margin-right: 10px;
				
				span.name {
					display: none;
					color: $col-white;
					font-size: $h1 * .75;
					font-weight: 700;
					line-height: $h1 * .75;
					letter-spacing: 2pt;
					font: 0/0 a;
				}

				@include breakpoint($tablet-width) {
				    padding: 14px 10px;
				    margin-right: 20px;
				}
			}
		}

		a#nav-toggle {
			position: fixed;
			top: 5px;
			right: 10px;
			// position: absolute;
			// top: 4px;
			// right: 0;
			width: 16px;
			height: 14px;
			padding: 20px;
			margin: 0;
			opacity: .75;
			z-index: 150000;
			// z-index: 500;
			
			@include breakpoint($tablet-width) {
			    top: 15px;
			    right: 25px;
				// right: 5px;
			}

			div {
				position: absolute;
				top: 13px;
				left: 12px;
				width: 16px;
				height: 2px;
				background: $col-white;
				opacity: 1;
				transform: rotate(0);
				transform-origin: 0 50%;
				@include trans(.35s);

				&:nth-child(1) {
					top: 19px;
					@include trans(.35s, opacity, ease-in, .15s);
				}

				&:last-child {
					top: 25px;
					transform-origin: 0 0;
				}
			}
		}
	}

	.sub-nav {
		display: block;
		position: relative;
		width: 100%;
		height: 5px;
		margin-top: 0;
		text-align: center;
		border-bottom: none;
		overflow: hidden;

		ul {
			@extend %no-style-ul;

			display: none;
			position: relative;
			height: 100%;
			max-width: $tablet-width;
			margin: 0 auto;
		}

		ul li {
			float: left;
			font-size: 0;

			a.sub-nav-btn {
				padding: 7px 13px;
				line-height: 38px;
				margin: 0;
				letter-spacing: 1pt;
				font-size: 1rem;
				font-weight: 400;
				opacity: 1;
				@include trans(.15s, color, ease-out);

				&:active {
					color: $col-black;
				}

				&.on {
					color: $col-white;
				}
			}

			a.sprite-top-btn {
				padding: 0;
				margin: 4px 0;
				font: 0/0 a;
				opacity: .65;
				cursor: pointer;
				@include trans(.15s, opacity, ease-out);

				&:active {
					background-position: -140px -187px;
					opacity: .5;
				}
			}

			.sub-nav-divider {
				width: 1px;
				height: 12px;
				margin: 13px 0;
				background: $col-white;
				opacity: .25;
			}

			&:last-child {
				margin-right: 12px;
			}
		}

		@include breakpoint($tablet-width) {
			height: 38px;

			ul {
				display: inline-block;
			}
		}
	}

	.navigation {
		margin-top: 250px;
		@include container($desktop-width);
		@include trans(.75s, margin);

		@extend %no-style-ul;

		li.section {
			@include span(6 of $susy-nav);
			text-align: center;
			margin-bottom: 50px;

			@include breakpoint($mobile-width) {
			    @include span(3 of $susy-nav);
			}

			@include breakpoint($tablet-width) {
			    @include span(2 of $susy-nav);
			}

			@include breakpoint($desktop-width) {
			    @include span(1 of $susy-nav);
			}

			span.icon, span.icon-hover {
				top: 0;
				left: 50%;
				margin-left: -25px;
			}

			span.icon-hover {
				z-index: 200;
			}

			a {
				display: inline-block;
				position: relative;
				text-align: center;
				font-size: 1.15rem;
				margin: 0;
				padding-top: 55px;

				// @include trans(.15s, color, ease-out);

				.icon {
					opacity: 1;
				}

				.icon-hover {
					opacity: 0;
				}

				// .icon, .icon-hover {
				// 	@include trans(.25s, opacity, ease-out);
				// }
			}

			.nav-divider {
				margin: 16px 0 14px;
				border-bottom: 1px solid $col-white;
			}

			a:active {
				.icon {
					opacity: 0;
				}
				.icon-hover {
					opacity: 1;
				}
			}

			&:nth-child(1) {
				a:active {
					color: $col-stPaulOffice;
				}
			}

			&:nth-child(2) {
				a:active {
					color: $col-spiritualLife;
				}
			}

			&:nth-child(3) {
				a:active {
					color: $col-oneCommunity;
				}
			}

			&:nth-child(4) {
				a:active {
					color: $col-ourParish;
				}
			}

			&:nth-child(5) {
				a:active {
					color: $col-educationCenter;
				}
			}

			&:nth-child(6) {
				a:active {
					color: $col-mediaLibrary;
				}
			}

			ul {
				@extend %no-style-ul;
			}

			ul li a {
				display: inline-block;
				padding: 10px 5px;
				font-size: 1rem;
				font-weight: 400;
			}

			span.noMobile {
				display: none;
			}

			@include breakpoint($mobile-width) {
				span.noMobile {
					display: block;
					padding: 10px 0;
					font-size: 1rem;
				}
			}
		}
	}

	.search {
		display: inline-block;
		padding: 60px 10px 50px;
		margin: 0 auto;
		border-top: 1px solid $col-grey-d4;

		@include breakpoint($tablet-width) {
			padding: 70px 100px 40px;
		}

		.icon, form {
			display: block;
			float: left;
		}

		.icon {
			margin-right: 10px;
		}

		input {
			display: block;
			margin: 0;
			padding: 10px;
			font-family: $font-sans;
			font-size: 1.15rem;
			font-weight: 400;
			appearance: none;
			box-shadow: none;
			border-radius: none;
			border-radius: 0;
			border: none;
			outline: none;
			float: left;
		}

		input[name="search-text"] {
			width: 270px;

			@include breakpoint($mobile-width) {
				width: 340px;
			}

			background-color: $col-grey-d3;
			color: $col-white;
			
			&:focus {
				border: solid 1px $col-grey-d1;
				box-shadow: none;
				outline: none;
			}
		}

		input[type="submit"] {
			display: none;
			margin-left: 8px;
			padding: 0;
			color: $col-white;
			font: 0/0 a;
		    overflow: hidden;
		    opacity: .75;

		    appearance: none;
		    -webkit-appearance: none;

		    @include trans(.15s, opacity, ease-out);
			
			&:active {
				background-position: -40px -180px;
			}

			&:focus {
				box-shadow: none;
				outline: none;
			}
		}
	}

	&.sticky-nav {
		height: 56px;
		transition: none;

		@include breakpoint($tablet-width) {
			height: 109px;
		}
	}
}

body.stpaul-stPaulHome #header.sticky-nav {
	.sub-nav {
		height: 6px;

		ul {
			height: 6px;

			li {
				line-height: 0;
				height: 0;
			}
		}
	}

	@include breakpoint($tablet-width) {
		height: 76px;
	}
}

body.nav-open, body.stpaul-stPaulHome.nav-open {
	overflow: hidden;

	#header {
		.masthead {
			padding-top: 10px;
			padding-bottom: 58px;

			@include breakpoint($tablet-width) {
				padding-top: 20px;
				padding-bottom: 88px;
			}

			border-bottom: 1px solid $col-grey-d4;
		}

		.sub-nav {
			display: none;
		}

		.navigation {
			margin-top: 70px;
		}

		a#nav-toggle {
			top: 15px;
			// right: 27px;

			@include breakpoint($tablet-width) {
				top: 35px;
				// right: 42px;
			}

			div {
				top: 26px;
				left: 12px;
				width: 22px;
				transform: rotate(-45deg);

				&:nth-child(1) {
					opacity: 0;
					top: 19px;
					left: 12px;
					width: 16px;
					transform: none;
					@include trans(.35s, opacity, ease-out);
				}

				&:last-child {
					top: 11px;
					left: 13px;
					transform: rotate(45deg);
				}
			}
		}

		height: 100%;
		overflow: auto;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

.noTouch {
	body.nav-open #header {
		a#nav-toggle {
			right: 25px;

			@include breakpoint($tablet-width) {
				right: 40px;
			}
		}
	}

	body #header {
		a#nav-toggle:hover {
			opacity: 1;
		}

		.sub-nav {
			a:hover {
				color: $col-white;
			}
			a:active {
	            color: $col-black;
	        }

	        a.sprite-top-btn:hover {
				opacity: 1;
				&:active {
					opacity: .5;
				}
			}
		}

		.navigation {
			li.section {
				a {
					@include trans(.15s, color, ease-out);
				}
				a:hover {
					.icon {
						opacity: 0;
					}
					.icon-hover {
						opacity: 1;
					}
				}
				a:active {
					.icon {
						opacity: 0;
					}

					.icon-hover {
						opacity: .5;
					}
				}

				.icon, .icon-hover {
					@include trans(.25s, opacity, ease-out);
				}

				&:nth-child(1) {
					a:hover {
						color: $col-stPaulOffice;
					}
					a:active {
						color: $col-stPaulOffice-sub;
					}
				}

				&:nth-child(2) {
					a:hover {
						color: $col-spiritualLife;
					}
					a:active {
						color: $col-spiritualLife-sub;
					}
				}

				&:nth-child(3) {
					a:hover {
						color: $col-oneCommunity;
					}
					a:active {
						color: $col-oneCommunity-sub;
					}
				}

				&:nth-child(4) {
					a:hover {
						color: $col-ourParish;
					}
					a:active {
						color: $col-ourParish-sub;
					}
				}

				&:nth-child(5) {
					a:hover {
						color: $col-educationCenter;
					}
					a:active {
						color: $col-educationCenter-sub;
					}
				}

				&:nth-child(6) {
					a:hover {
						color: $col-mediaLibrary;
					}
					a:active {
						color: $col-mediaLibrary-sub;
					}
				}
			}
		}

		.search {
			// .icon {
			// 	display: none;
			// }

			// input[name="search-text"] {
			// 	width: 230px;
			// 	margin-left: 0;

			// 	@include breakpoint($mobile-width) {
			// 		width: 300px;
			// 	}

			// 	@include breakpoint($tablet-width) {
			// 		margin-left: 50px;
			// 	}
			// }

			// input[type="submit"] {
			// 	display: block;

			// 	&:hover {
			// 		opacity: 1;
			// 	}
			// }
		}
	}
}

.noResize {
	body #header {
		transition: none;

		.masthead a#nav-toggle {
			transition: top .5s ease-in-out, opacity .15s ease-out;
		}
	}

	body.nav-open #header {
		@include trans(.5s, all, cubic-bezier(.75,.01,.25,.75));

		.masthead {
			transition: padding .5s ease-in-out, border .15s ease-in-out .5s;
		}
	}
}