// ***********************************
// HERO & SUBNAV
// ***********************************

@each $theme, $color in $themes {
	@include stylize-hero($theme, $color);
}

// @include breakpoint($tablet-width) {
	body.stpaul-stPaulHome #content .hero {
		background: $col-stPaulHome url("../images/stpaulHome-bg.jpg") no-repeat bottom right;
		background-size: cover;
	}

	body.stpaul-stPaulOffice #content .hero {
		background: $col-stPaulOffice url("../images/stpaulOffice-bg.jpg") no-repeat top right;
		background-size: cover;
	}

	body.stpaul-spiritualLife #content .hero {
		background: $col-spiritualLife url("../images/spiritualLife-bg.jpg") no-repeat top right;
		background-size: cover;
	}

	body.stpaul-oneCommunity #content .hero {
		background: $col-oneCommunity url("../images/oneCommunity-bg.jpg") no-repeat top right;
		background-size: cover;
	}

	body.stpaul-ourParish #content .hero {
		background: $col-ourParish url("../images/ourParish-bg.jpg") no-repeat top right;
		background-size: cover;
	}

	body.stpaul-educationCenter #content .hero {
		background: $col-educationCenter url("../images/educationCenter-bg.jpg") no-repeat top right;
		background-size: cover;
	}

	body.stpaul-mediaLibrary #content .hero {
		background: $col-mediaLibrary url("../images/mediaLibrary-bg.jpg") no-repeat top right;
		background-size: cover;
	}
// }

body #content {
	.hero {
		display: block;
		position: relative;
		margin: 0;
		padding: 0;
		color: $col-white;
		min-height: auto;
	    margin: 0;
	    padding: 0;
	    // overflow: hidden;
	    
	    @include breakpoint($tablet-width) {
			min-height: 550px;
		}

	    .mobile-fader {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 0;
			opacity: .75;

			@include breakpoint($tablet-width) {
				opacity: .5;
			}

			@include breakpoint($laptop-width) {
				display: none;
			}
		}

		a {
			color: $col-white;

			&:hover {
				text-decoration: none;
			}

			&:visited {
				color: $col-white;
			}
		}

		a.black {
			color: $col-black;

			&:visited {
				color: $col-black;
			}
		}

		.wrapper {
			text-align: center;
			position: relative;
			height: auto;
			padding-top: 50px;
			padding-bottom: 6px;

			@include breakpoint($tablet-width) {
				padding-top: 70px;
				padding-bottom: 60px;
				text-align: left;
			}

			h3 {
				@include span(9);
				padding: 50px 0 10px;

				@include breakpoint($tablet-width) {
					padding: 60px 0 0;
				}

				span {
					margin-left: 55px;
					margin-right: 20px;
					line-height: 40px;
				}
			}

			.hero-content {
				@include span(9);

				@include breakpoint($laptop-width) {
					@include span(6);
				}

				margin-top: 4px;
				margin-bottom: 35px;

				ul {
					@extend %no-style-ul;
					margin-top: 1rem; 
					margin-bottom: 1rem;

					li {
						margin: 3px 0;
						// font-size: 1em;
						font-size: 1rem;

						&.tall-margin {
							margin: 10px 0;
						}

						&:first-child {
							margin-top: 0;
						}

						&:last-child {
							margin-bottom: 0;
						}
					}

					&.add-marginTop {
						margin-top: 30px; 
					}

					&.add-marginBottom {
						margin-bottom: 30px; 
					}
				}

				a.hero-txt-btn {
					display: inline-block;
					position: relative;
					margin: 0;
					// margin-bottom: 30px; //FIX
					padding: 2px;
					padding-right: 26px;
					line-height: 1rem;

					span.icon {
						position: absolute;
						top: 1px;
						right: 0;

						@include breakpoint($tablet-width) {
							top: 2px;
						}
					}

					&:active span.sprite-link-sm {
						background-position: -40px -550px;
					}
					
					&:active span.sprite-link-ext-sm {
						background-position: -40px -530px;
					}
					
					&.black {
						&:active span.sprite-link-sm {
							background-position: 0 -550px;
						}
						
						&:active span.sprite-link-ext-sm {
							background-position: 0 -530px;
						}
					}
				}

				span.subhead {
					display: block;
					font-size: 2rem;
					line-height: 1.5rem;
					font-weight: 700;
					margin: 1.25rem 0 1rem;;
				}

				.util-box {
					margin: 0;
					// margin-bottom: 0;
				}
			}

			.hero-content-img {
				display: inline-block;
				position: relative;		
				width: span(200px);
				margin: 20px auto 0;

				img {
					width: 100%;
					position: relative;
				}

				&.hor-column {
					width: span(280px);

					@include breakpoint($tablet-width) {
						margin-bottom: 10px;
						@include span(4);
					}

					@include breakpoint($laptop-width) {
						margin-bottom: 30px;
						@include span(5);
					}
				}

				@include breakpoint($tablet-width) {
					@include span(3);
					margin-bottom: 30px;
				}
			}

			.hero-content.ver-column {
				@include span(9);

				@include breakpoint($tablet-width) {
					@include span(6);
				}
			}

			.hero-content.hor-column {
				@include span(9);

				@include breakpoint($tablet-width) {
					@include span(5);
				}

				@include breakpoint($laptop-width) {
					@include span(4);
				}
			}

			.util-box {
				@include span(9);
				position: relative;
				display: inline-block;
				// margin: 0;
				margin-bottom: 35px;
				padding-top: 30px;
				border-top: 1px solid $col-white;

				@include breakpoint($mobile-width) {
					display: block;
				}

				.util-btn-divider {
					display: none;
					float: left;
					margin: 16px 15px 0;
					padding-left: 1px;
					padding-bottom: 70px;
					border-left: 1px solid $col-white;

					@include breakpoint($tablet-width) {
						display: block;
					}
				}
			}

			a.util-box-btn {
				display: inline-block;
				position: relative;
				width: 100px;
				height: 90px;
				margin: 4px 2px;
				text-align: center;
				font-size: .9rem;
				font-weight: 400;
				line-height: 1.3rem;
				letter-spacing: .5pt;
				border: 1px solid $col-white;
				color: $col-white;
				overflow: hidden;
				border-radius: 5px;
				float: none;

				&:before {
					content: '';
					display: inline-block;
					height: 56px;
					// height: 100%;
					vertical-align: middle;
				}

				.txt {
					display: inline-block;
					width: 86px;
					margin-right: 5px;
					vertical-align: middle;

					span.sm-txt {
						display: block;
						font-weight: 800;
						letter-spacing: .25pt;
					}
				}

				.icon {
					position: absolute;
					bottom: 14px;
					left: 50%;
					margin-left: -14px;
				}

				.sprite-download {
					bottom: 10px;
					margin-left: -8px;
				}

				@include breakpoint($tablet-width) {
					float: left;
					margin: 6px;
					border: 2px solid $col-white;

					&:first-child {
					margin-left: 0;
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		.sub-nav {
			position: absolute;
			width: 100%;
			height: 6px;
			bottom: 0;
			left: 0;
			text-align: center;
			overflow: hidden;
			z-index: 500;

			ul {
				@extend %no-style-ul;

				display: none;
				position: relative;
				height: 100%;
				max-width: $tablet-width;
				margin: 0 auto;
			}

			ul li {
				float: left;
				font-size: 0;

				a.sub-nav-btn {
					display: inline-block;
					padding: 0 13px;
					line-height: 40px;
					margin: 10px 0;
					letter-spacing: 1pt;
					font-size: 1rem;
					font-weight: 400;
					opacity: 1;
					// @include trans(.15s, color, ease-out);
					transition: color .15s ease-out, margin .25s ease-out;

					&:active {
						color: $col-black;
					}

					&.on {
						color: $col-white;
					}
				}

				a.sprite-top-btn {
					padding: 0;
					margin: 15px 0;
					font: 0/0 a;
					opacity: .1;
					cursor: default;
					transition: opacity .15s ease-out, margin .25s ease-out;
				}

				.sub-nav-divider {
					width: 1px;
					height: 12px;
					margin: 24px 0;
					background: $col-white;
					opacity: .25;
					@include trans(.25s, margin, ease-out);
				}

				&:last-child {
					margin-right: 12px;
				}
			}

			@include breakpoint($tablet-width) {
				height: 60px;
				@include trans(.25s, height, ease-out);

				ul {
					display: inline-block;
				}
			}
		}
	}

	&.skinny-nav {
		.hero {
			.sub-nav {
				a.sub-nav-btn {
					margin-top: 0;
					margin-bottom: 0;
				}

				a.sprite-top-btn {
					opacity: .65;
					cursor: pointer;
					margin-top: 5px;
					margin-bottom: 5px;

					&:active {
						background-position: -140px -187px;
						opacity: .5;
					}
				}

				.sub-nav-divider {
					margin: 14px 0;
				}

				@include breakpoint($tablet-width) {
					height: 40px;
				}
			}
		}
	}
}

.noTouch {
	body #content {
		.hero {
			.sub-nav {
				a:hover {
					color: $col-white;
				}
				a:active {
		            color: $col-black;
		        }
			}

			a.util-box-btn:hover {
				background: $col-white;
			}
		}

		&.skinny-nav {
			.hero .sub-nav {
				a.sprite-top-btn:hover {
					opacity: 1;
					&:active {
						opacity: .5;
					}
				}
			}
		}
	}
}