// ***********************************
// CONTENT POSTING
// ***********************************

@each $theme, $color in $themes {
	@include stylize-posting($theme, $color);
}

body #content .content-body .section {
	.wrapper {
		.posting {
			ul {
				@extend %no-style-ul;

				li {
					display: inline-block;
					position: relative;
					width: 100%;
					padding: 10px 0 5px;
					font-size: 1rem;
					font-weight: 400;

					border-bottom: 1px solid $col-grey;

					&:first-child {
						padding-top: 0;
					}

					@include breakpoint($tablet-width) {
						padding: 20px 0 15px;
					}

					@include breakpoint($tablet-wide-width) {
						padding: 30px 0;
					}
				}
			}

			.thumbnail {
				width: span(6);
				margin: 20px auto 0;
				background: $col-grey;
				font-size: 0;
				overflow: hidden;

				@include breakpoint($tablet-wide-width) {
					@include span(4);
					margin: 0;
				}

				@include breakpoint($laptop-width) {
					@include span(3);
					margin: 0;
				}

				img {
					width: 100%;
				}
			}

			.txt {
				width: span(8);
				margin: 20px auto;
				text-align: center;

				a.title {
					display: block;
					font-size: 1.4em;
					font-weight: 400;
					line-height: 1.25em;
					margin-bottom: 5px;
				}

				.date {
					font-size: .8em;
					color: $col-grey;
				}

				p {
					margin-top: 5px;
					margin-bottom: 0;
				}

				@include breakpoint($tablet-wide-width) {
					@include span(5);
					margin: 0;
					margin-left: 15px;
					text-align: left;

					&.full {
						@include span(9);
						margin: 0;
						text-align: left;
					}
				}

				@include breakpoint($laptop-width) {
					@include span(6);
					margin: 0;
					margin-left: 15px;
					text-align: left;
				}
			}

			.bottom-nav {
				display: block;
				padding: 15px 0 5px;
				margin-top: 1px;
				margin-bottom: 30px;
				text-align: center;

        		.post-nav {
        			display: inline-block;
        			margin: 0 auto;

        			a {
        				position: relative;
	        			padding: 0 5px;
	        			margin: 0 4px;
	        			font-weight: 400;

	        			&.selected {
	        				font-weight: 800;
	        				margin: 0 6px;
	        			}
	        		}

	        		a.pp-left, a.p-left, a.pp-right, a.p-right {
	        			float: left;
	        			margin: 4px 2px;
	        		}

	        		a.pp-left, a.pp-right {
	        			display: none;

	        			@include breakpoint($tablet-wide-width) {
	        				display: inline-block;
	        			}
	        		}

	        		ul {
	        			float: left;
	        			margin: 0 20px;
	        		}

	        		li {
	        			width: auto;
	        			margin: 0;
	        			padding: 0;
	        			float: left;
	        			border: none;
	        		}
        		}

        		@include breakpoint($tablet-width) {
					margin-bottom: 50px;
				}

        		@include breakpoint($tablet-wide-width) {
					margin-bottom: 0;
				}
			}

			&.no-sidebar {
				.thumbnail {
					@include breakpoint($tablet-wide-width) {
						@include span(4 of 13.75);
						margin: 0;
					}

					@include breakpoint($laptop-width) {
						@include span(3 of 13.75);
						margin: 0;
					}
				}

				.txt {
					@include breakpoint($tablet-wide-width) {
						@include span(9.75 of 13.75);
						margin: 0;
						margin-left: 15px;

						&.full {
							@include span(full);
							margin: 0;
						}
					}

					@include breakpoint($laptop-width) {
						@include span(10.75 of 13.75);
						margin: 0;
						margin-left: 15px;
					}
				}

				.bottom-nav {
					margin-bottom: 15px;

					@include breakpoint($tablet-wide-width) {
						margin-bottom: 50px;
					}
				}
			}
		}
	}
}
